<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyim.dal.mapper.RecordMapper">

<!--    <select id="selectDtoList" resultType="com.easyim.comm.message.login.dto.RecordDto">-->
<!--        SELECT t1.dialog_id, t1.sender_id, t2.user_nickname as name, t2.user_avatar as avatar, t1.content, t1.record_time-->
<!--        From easy_im_record t1-->
<!--        JOIN easy_im_user t2-->
<!--        ON t1.sender_id = t2.user_id-->
<!--        WHERE t1.dialog_id = #{dialogId}-->
<!--        ORDER BY t1.id ASC;-->
<!--    </select>-->

</mapper>
